* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212129;
}

small {
  color: #ffffff;
}

.app-container {
  max-width: 880px;
  margin: 0 auto;
}

.app-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-input {
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  padding: 0.3rem;
  outline: none;
}
